<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Courier Mgmt. MiniProject</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/fonts/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/slick.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/jquery.mb.YTPlayer.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/meanmenu.css" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/loginpage.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--  browser campatibel css files-->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="js">
    <script>
        function package() {
            var weight = $('#weight').val()
            var origin = $('#origin').val()
            var destination = $('#destination').val()
            var package = {
                weight: weight,
                origin: origin,
                destination: destination
            }

            $.ajax({
                url: "/services",
                type: 'POST',
                data: JSON.stringify(package),
                dataType: 'json',
                contentType: 'application/json',
                success: function (res) {
                    if (res.success) {
                        alert(res.message)
                    } else {
                        alert(res.message)
                    }
                }
            })
        }
    </script>

    <div id="preloader"></div>

    <section class="about-us">
        <div class="logo_menu" id="sticker">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6">
                        <div class="logo">
                            <a href="/"><img
                                    src="https://d1yn1kh78jj1rr.cloudfront.net/image/preview/HxBuYgYlWj2s470fo/storyblocks-caucasian-delivery-courier-holding-box-on-the-background-of-truck-young-delivery-courier-carrying-cardboard-box-delivery-courier-with-box-in-hands-vector-flat-design-illustration-horizontal-layout_BdcqYG2n-_SB_PM.jpg" alt="
                                    logo"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 col-md-offset-1 col-sm-7 col-lg-offset-1 col-lg-6 mobMenuCol">
                        <nav class="navbar">
                            <ul class="nav navbar-nav navbar-right menu">
                                <li><a href="/">Home</a></li>
                                <li class="current-menu-item"><a href="/tracking">Tracking</a></li>
                                <li><a href="/services">Services</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about_top">
        <div class="container">
            <div class="row page-title">
                <div class="col-md-5 col-sm-6">
                    <div class="pricing-desc section-padding-two">
                        <div class="pricing-desc-title">
                            <div class="title">
                                <h2>Check Status of your packages here!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row page-title">
                <div class="col-md-5 col-sm-6">
                    <div class="pricing-desc section-padding-two">
                        <div class="pricing-desc-title">
                            <div class="title">
                                <h2>Packages Unverified!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <% data.forEach(function(e1, i){ %>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about_single_item">
                        <div class="about_single_item_content">
                            <% if(e1.is_verified === 0) { %>}
                            <h4>Package Id : <%= e1.package_id%> <br>From : <%= e1.package_origin %> <br>To :
                                <%=e1.package_destination%></h4>
                            <p>Package Weight : <%= e1.package_weight %></p>
                            <% }%>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>



            <div class="row page-title">
                <div class="col-md-5 col-sm-6">
                    <div class="pricing-desc section-padding-two">
                        <div class="pricing-desc-title">
                            <div class="title">
                                <h2>Payment Pending!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="POST" action="payment">
            <div class="row">
                <% data.forEach(function(e1, i){ %>
                    <% data1.forEach(function(e2, i2){ %>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about_single_item">
                        <div class="about_single_item_content">
                            <% if(e1.is_paid === 0 && e1.is_verified!=0 && e1.package_id == e2.package_id) { %>}
                            <input type="checkbox" id=<%= e1.package_id%> value=<%= e2.package_value %> name=<%= e1.package_id %>>
                            <h4>Package Id : <%= e1.package_id%> <br>From : <%= e1.package_origin %> <br>To :
                                <%=e1.package_destination%> <br> Cost : <%= e2.package_value %></h4>
                            <p>Package Weight : <%= e1.package_weight %></p>
                            <% }%>
                        </div>
                    </div>
                </div>
                <% }); %>
                <% }); %>
            </div>
            <input type="submit">
        </form>






            <div class="row page-title">
                <div class="col-md-5 col-sm-6">
                    <div class="pricing-desc section-padding-two">
                        <div class="pricing-desc-title">
                            <div class="title">
                                <h2>Out For Delivery:</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <% data.forEach(function(e1, i){ %>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about_single_item">
                        <div class="about_single_item_content">
                            <% if(e1.is_paid != 0) { %>
                            <h4>Package Id : <%= e1.package_id%> <br>From : <%= e1.package_origin %> <br>To :
                                <%=e1.package_destination%> <br> Arriving Soon!</h4>
                            <p>Package Weight : <%= e1.package_weight %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>

        </div>


    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>
    <script src="/assets/js/jquery.sticky.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="/assets/js/jquery.meanmenu.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/jquery.nav.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/loginpage.js"></script>
</body>

</html>