<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Courier Mgmt. MiniProject</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/fonts/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/slick.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/jquery.mb.YTPlayer.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/meanmenu.css" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/loginpage.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--  browser campatibel css files-->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="js">
    <script>
        function package() {
            var weight = $('#weight').val()
            var origin = $('#origin').val()
            var destination = $('#destination').val()
            var package = {
                weight: weight,
                origin: origin,
                destination: destination
            }

            $.ajax({
                url: "/services",
                type: 'POST',
                data: JSON.stringify(package),
                dataType: 'json',
                contentType: 'application/json',
                success: function (res) {
                    if (res.success) {
                        alert(res.message)
                    } else {
                        alert(res.message)
                    }
                }
            })
        }
    </script>

    <div id="preloader"></div>

    <section class="about-us">
        <div class="logo_menu" id="sticker">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6">
                        <div class="logo">
                            <a href="/"><img src="img/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 col-md-offset-1 col-sm-7 col-lg-offset-1 col-lg-6 mobMenuCol">
                        <nav class="navbar">
                            <ul class="nav navbar-nav navbar-right menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/admin">Admin</a></li>
                                <li class="current-menu-item"><a href="/tracking">Tracking</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about_top">
        <div class="container">
            <div class="row page-title">
                <div class="col-md-5 col-sm-6">
                    <div class="pricing-desc section-padding-two">
                        <div class="pricing-desc-title">
                            <div class="title">
                                <h2>Check Status of your packages here!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row page-title">
                <div class="col-md-5 col-sm-6">
                    <div class="pricing-desc section-padding-two">
                        <div class="pricing-desc-title">
                            <div class="title">
                                <h2>Payment Pending!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <% data.forEach(function(e1, i){ %>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about_single_item">
                        <div class="about_single_item_content">
                            <h4>Package Id : <%= e1.package_id%> <br>From : <%= e1.package_origin %> <br>To :
                                <%=e1.package_destination%></h4>
                            <p>Package Weight : <%= e1.package_weight %></p>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>

            <div class="row page-title">
                <div class="col-md-5 col-sm-6">
                    <div class="pricing-desc section-padding-two">
                        <div class="pricing-desc-title">
                            <div class="title">
                                <h2>Out For Delivery:</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <% data.forEach(function(e1, i){ %>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about_single_item">
                        <div class="about_single_item_content">
                            <h4>Package Id : <%= e1.package_id%> <br>From : <%= e1.package_origin %> <br>To :
                                <%=e1.package_destination%></h4>
                            <p>Package Weight : <%= e1.package_weight %></p>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>

        </div>


    </section>

    <section class="footer-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3 col-xs-12 col-lg-4">
                    <div class="single-footer">
                        <h2>About us</h2>
                        <p>Add something here guys, dhruv bol kuch</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 col-lg-2">
                    <div class="single-footer">
                        <h2>More links</h2>
                        <ul class="list">
                            <li><a href="#">about us.</a></li>
                            <li><a href="#">We Accepts.</a></li>
                            <li><a href="#">news latters</a></li>
                            <li><a href="#">Pricing & plans</a></li>
                            <li><a href="#">Calculate</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                    <div class="single-footer">
                        <h2>We Accept</h2>
                        <a href="#"><img src="img/cards_credt_1.png" alt="#"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                    <div class="single-footer clearfix">
                        <h2>Sign to Offers</h2>
                        <input type="text" class="form-control">
                        <input type="submit" class="submt-button" value="submit">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="copyright-area">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-6 text-left">
            </div>
            <div class="col-xs-12  col-sm-6 col-md-6 text-right">
                <div class="footer-text">
                    <a href="https://facebook.com" class="fa fa-facebook"></a>
                    <a href="https://twitter.com" class="fa fa-twitter"></a>
                    <a href="https://linkedin.com" class="fa fa-linkedin"></a>
                    <a href="https://google.com" class="fa fa-google-plus"></a>
                    <a href="https://dribble.com" class="fa fa-dribbble"></a>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>
    <script src="/assets/js/jquery.sticky.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="/assets/js/jquery.meanmenu.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/jquery.nav.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/loginpage.js"></script>
</body>

</html>